page-template-edit {
	ion-card ion-grid {
		ion-col div {
			border: solid 1px;
			margin: 1px;
			padding: 10px;
		}
		ion-row {
			border-bottom: solid 1px; // margin: 1px;
			// padding: 5px;
			margin-bottom: 2px;
			min-height: 40px;
		}
	}
	@for $i from 1 through 12 {
		.col-#{$i} {
			@include make-column($i);
		}
	}
}