<ion-list inset>
	<ion-item *ngFor="let page of pages" color="{{ page.clipped }}">
		<ion-icon name="ios-remove-circle-outline" xitem-end (click)="clip(page)"></ion-icon>
		
		{{page.title}}
		<ion-icon name="ios-arrow-dropdown-outline" *ngIf="clipboard && ((page._lft < clipboard._lft)||(page._rgt > clipboard._rgt))" (click)="after(page)"></ion-icon>
		<ion-icon name="ios-arrow-dropright-outline" *ngIf="clipboard && ((page._lft < clipboard._lft)||(page._rgt > clipboard._rgt))" (click)="under(page)"></ion-icon>
		<tree-view *ngIf="page.children.length" [pages]='page.children'></tree-view>
	</ion-item>
</ion-list>