<ion-split-pane>
	<ion-menu [content]="content">
		<ion-header>
			<ion-toolbar color="dark">
				<ion-title>Menu</ion-title>
			</ion-toolbar>
		</ion-header>

		<ion-content>
			<ion-list>
				<ng-container *ngFor="let group of pages">
					<ion-list-header><ion-icon name="{{ group.icon }}" item-start></ion-icon>{{ group.title }}</ion-list-header>
					<button ion-item *ngFor="let page of group.children" (click)="openPage(page)">
						{{ page.title }}
					</button>
				</ng-container>
			</ion-list>
		</ion-content>

	</ion-menu>

	<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>