<ion-split-pane>
	<ion-menu [content]="content" persistent=true>
		<ion-header>
			<ion-navbar color="grey" text-center>
				<img src="assets/imgs/logo.svg" height="22px">
				<!-- <ion-buttons end>
					<button ion-button menuToggle>
						<ion-icon name="menu"></ion-icon>
					</button>
				</ion-buttons> -->
			</ion-navbar>
		</ion-header>

		<ion-content>
			<ion-list no-lines>
				<ng-container *ngFor="let group of pages">
					<ion-list-header text-center color="grey">{{ group.title }}</ion-list-header>
					<button no-lines ion-item *ngFor="let page of group.children" (click)="openPage(page)" detail-none>
						<ion-icon name="{{ page.icon }}" item-start></ion-icon> {{ page.title }}
					</button>
				</ng-container>
			</ion-list>
		</ion-content>

	</ion-menu>

	<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>